
body{margin:0px;}

header{
    background-color:red;
}
nav{
    background-color:orange;
}
main{
    background-color:salmon;
}
aside{
    background-color:green;
}
footer{
    background-color:blue;
}
header,nav,main,aside,footer{
    height:150px;
    
    

}